
/* Navbar */
#navbar li {
    display: flex;
    align-items: center;
}

#navbar li:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#navbar li:nth-child(2) > input{
    flex: 1;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
footer {
    text-align: center;
}

/* Main Page */
#main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-page > ul
{
    display: flex;
    flex-direction: row;
    align-items: left;
    overflow: hidden;
}

#main-page > ul > li:first-child,
#main-page > ul > li:nth-child(5) {
    transform: translateY(-15px); 
}

/*login/register page*/
#login-sec {
    display: grid;
    justify-items: center;
}

#login-div {
    grid-column-start: 1;
    grid-column-end: 2;
}

#separator {
    grid-column-start: 2;
    grid-column-end: 3;
}

#register-div {
    grid-column-start: 3;
    grid-column-end: 4;
}

input, label {
    display: block;
}

label {
    text-align: left;
}

/* Post page */
#post-page {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows:auto 0.5fr 0.5fr 8fr auto;
    grid-template-areas: 
    "header header"
    "link-tree link-tree"
    "filter sort-bar"
    "filter post-section"
    "footer footer";
}

#post-page #navbar{
    grid-area: header;
}

#link-tree{
    grid-area: link-tree;
}

#filters {
    grid-area: filter;
}

#sort-bar {
    grid-area: sort-bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sort-bar > div {
    align-items: center;
    display: flex;
}

#posts-section {
    grid-area: post-section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

#posts-footer {
    grid-area: footer;
}
#page-number
{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
}
