
#navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li:nth-child(2) {
    position: absolute;
    left: 7%;
}
#navbar li:nth-child(3) {
    flex: 1;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

