
/* Navbar */
#navbar li {
    display: flex;
    align-items: center;
}

#navbar li:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#navbar li:nth-child(2) > input{
    flex: 1;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
footer {
    text-align: center;
}

/* Main Page */
#main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-page > ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-page > ul > li {
    justify-content: center;
    align-items: center;
    display: flex;
}

#main-page > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*login/register page*/
#login-body #login-sec {
    display: grid;
    justify-items: center;
}

#login-body #login-div {
    grid-column-start: 1;
    grid-column-end: 2;
}

#separator {
    grid-column-start: 2;
    grid-column-end: 3;
}

#register-div {
    grid-column-start: 3;
    grid-column-end: 4;
}

input, label {
    display: block;
}

label {
    text-align: left;

}

#buyer-seller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Post page */
#post-page {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows:auto 0.5fr 0.5fr 680px auto;
    grid-template-areas: 
    "header header"
    "link-tree link-tree"
    "filter sort-bar"
    "filter post-section"
    "footer footer";
}

#posts-section article {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: 80px 1.5fr 120px 80px 0.25fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "image image"
    "decription decription"
    "price price"
    "likebutton cartbutton";
}
#posts-section article img {
    grid-area: image;
}
#posts-section article #price {
    grid-area: price;
    text-align: center;
}
#posts-section #price::after {
    content: "€";
}
#posts-section article h4 {
    grid-area: decription;
    text-align: center;
}
#posts-section article button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#posts-section article button:first-child {
    grid-area: likebutton;
}
#posts-section article button:nth-child(2) {
    grid-area: cartbutton;
}
#posts-section article h3 {
    grid-area: title;
    text-align: center;
}
    
#post-page #navbar{
    grid-area: header;
}

#link-tree{
    grid-area: link-tree;
}
#link-tree ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#filters {
    grid-area: filter;
    display: block;
    justify-content: center;
    align-items: center;
}
#filters article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sort-bar {
    grid-area: sort-bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sort-bar > div:first-child {
    flex: 1;
}

#sort-bar > div {
    align-items: center;
    display: flex;
}

#sort-bar > div *{
    align-items: center;
    justify-content: center;
    display: flex;
}

#posts-section {
    grid-area: post-section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    justify-items: center;
}

#posts-footer {
    grid-area: footer;
}

#page-number
{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#item-main {
    display: grid;
}
#item-image button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#item-image {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 0.25fr;
    align-items: center;
    justify-items: center;
}

#item-image div {
    grid-column: 1/3;
}
#item-info {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-picture-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

#profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#seller-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


#seller-info > img {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

#seller-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* New Post Page */


#new-post-body #login-div form {
    display: grid;
    grid-template-columns: 0.25fr 400px;
    align-items: center;
    justify-content: center;
}
#create-post-button
{
    grid-column: 1 / 3;
}

/* page item */
#item-specifics 
{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#item-name
{
    grid-column: 1 / 3;
}