@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* General */
body
{
    margin: 0;
    background: linear-gradient(to bottom, var( --very_dark_green),var(--dark_green), var(--green), var(--green) ,var(--dark_green),var( --very_dark_green));
    font-family: 'Roboto', 'Arial';

}
body::-webkit-scrollbar {
    width: 0px;
}
ul {
    list-style-type: none;
}
body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var( --very_dark_green),var(--dark_green), var(--green), var(--green) ,var(--dark_green),var( --very_dark_green)); 
}

body::-webkit-scrollbar-thumb {
    background: var(--dark_green); 
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}
h1 {
    font-size: 3em;
    margin: 0.5em;
    color: var(--beige);
    font-weight: normal;
}
h2 {
    font-size: 2em;
    margin: 0.5em;
    color: var(--beige);
    font-weight: normal;
}
h3 {
    font-size: 1.5em;
    margin: 0.5em;
    color: var(--beige);
    font-weight: normal;
}
h4 {
    font-size: 1em;
    margin: 0.5em;
    color: var(--beige);
    font-weight: normal;
}
h5 {
    font-size: 0.7em;
    margin: 0.5em;
    color: var(--beige);
    font-weight: normal;
}
a {
    color: var(--beige);
    text-decoration: none;
}
.background-color-green {
    background-color: var(--green);
}
.background-color-very-dark-green {
    background-color: var(--very_dark_green);
}
.background-color-dark-green {
    background-color: var(--dark_green);
}
.background-color-bright-green {
    background-color: var(--bright_green);
}
.barcode {
    font-family: 'Libre Barcode 39 Text', 'Arial';
}
.text-beige {
    color: var(--beige);
}
textarea {
    resize: none;
}

/* Navbar */
#navbar {
    background-color: var(--very_dark_green);
    padding: 1em; 
    margin: 0;
}
#navbar > ul li a
{
    text-decoration: none;
    color: var(--beige);
    font-weight: normal;
}
#navbar li {
    margin: 0 1em;
}

#navbar ul {
    margin: 0;
    padding: 0;
}
#navbar li:nth-child(2)  {
    padding-left: 0.5em;
    padding-right: 1.5em;
}
#navbar li:nth-child(2) img {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    height: 1.7em;
}
input {
    background-color: var(--green);
    border: none;
    outline: none;
    color:var(--beige);
}
#search-bar {
    width: 100%;
    height: 40%;
    border-radius: 25px;
    background-color: var(--green);
    border: none;
}

/* Footer */
footer {
    background-color: var(--very_dark_green);
    color: white;
    padding: 1em;
}

#main-page > ul
{
    color: white;
    width: 1100px; 
    height: 100px;
    padding: 0;
    list-style-type: none;
    border-radius: 50px;
    overflow: hidden;
}

#main-page > ul > li > a
{
    text-decoration: none;
    font-weight: normal;
    color: var(--beige);
    background-color: var(--bright_green);
    border-radius: 15px;
    width: 100%;
    height: 100%;;
}
#main-page 
{
    margin-bottom: 7em;
    margin-top: 5em;
}

#main-page > ul li
{
    text-align: center;
    width: 200px;
    min-width: 200px;
    height: 50px;
    margin: 10px;
}


#big-logo
{
    text-align: center;
    font-size: 20em;
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--beige);
}

#main-page button {
    margin-left: 4em;
    margin-right: 4em;
}

#main-page button img{
    height: 40px;
    width: auto;
}

/* Login/Register Page */
#login-sec {
    background-color: var(--dark_green);
    width: 50em;
    margin: 2em auto ;
    padding: 2em;
    text-align: center;
    color: var(--beige);
    border-radius: 4em;
}

#logo-txt {
    margin: 0;
}

#logo-li {
    font-size: 200%;
}

#login-div > h1, #register-div > h1 {
    font-size: 60px;
    margin: 0.5em auto 0.3em auto;
}

#separator {
    width: 3px;
    margin: 1em 0;
    background-color: var(--beige);
}

#login-body {
    background-color: var(--green);
}

form > * {
    padding: 0.5em 0;
}

form input, div input {
    border-radius: 1em;
    height: 2.5em;
    margin-top: 1em;
    width: 17em;
}

form label {
    font-size: 20px;
    font-weight: 500;
}

input[type="submit"] {
    width: 10em;
    margin: 1em auto;
    font-weight: 600;
}

input[type="checkbox"] {
    width: fit-content;
}

.align-center {
    margin: 0.5em auto;
}

#errors-div {
    padding: 0.5em;
    margin: 5em auto 3em auto;
}

label[for="buyer"], label[for="seller"] {
    margin: 0 1em;
}

/* Post-page */
.outer-box-format {
    border: none;
    border-radius: 25px;
    margin: 1em;
    padding: 1em;
}

.iner-box-format {
    border: none;
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
}


#link-tree{
    margin-top: 1em;
    padding: 0em;
}

#link-tree ul {
    list-style: none;
    margin: 0;
}
#link-tree ul li a{
    text-decoration: none;
    font-weight: bold;
}
#link-tree ul li:not(:last-child)::after {
    content: "/";
    margin: 0 5px; 
}
#filters
{
    padding-top: 1.5em;
}
#filters header {
    padding: 0.05em 0;
}

#sort-bar {
    padding: 0 0.3em 0 0.1em;
}
#sort-bar *, #filters *, #link-tree * {
    border: none;
    color: var(--beige);
    font-weight: normal;
    text-align: center;
}
.box-input {
    border-radius: 15px;
    padding: 0.5em;
    margin: 0.7em;
    border: none;
    outline: none;
}
#sort-bar > div > button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#sort-bar > div > button > img {
    height: 70%;
    width: auto;
}

#posts-section {
    overflow-y: scroll;
    padding-bottom: 3em;
    overflow-x: hidden;
}

#posts-section::-webkit-scrollbar {
    width: 10px;
}

#posts-section::-webkit-scrollbar-track {
    background: transparent; 
}

#posts-section::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 5px; 
}
#posts-section article{
    width: 290px;
    height: 500px;
}
#posts-section article > img {
    width: 100%;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 15px;
}
#posts-section article button > img {
    height: 20px;
    width: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
#posts-section article h4 {
    text-overflow: ellipsis;
}


.conect_color {
	background: var(--bright_green) !important;
}
.tooltip_color {
    background: transparent !important;
}
#slider
{
    margin: 1em;
    margin-top: 1.2em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#item-main {
    width: 80%;
    margin:auto;
    padding: 1em;
}

#item-image div > img {
    width: 100%;
    height: auto;
    margin: 0;
}

#item-image {
    padding: 1em;
}

#seller-info{
    width: 100%;
    height: auto;
}
#item-image button img {
    height: 20px;
    width: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
#item-specifics
{
    width: 100%;
    height: auto;
}
#item-specifics * {
    margin: 0.5em;
    padding: 0.5em;
}
#item-specifics p {
    margin: 0.5em;
    padding: 0.5em;
}
#seller-username {
    margin-top: 0;
}

#item-info {
    padding: 1em;
}

#item-info > * {
    margin: 0.5em auto;
}

#description {
    margin-left: 2em;
    margin-right: 2em;
}

/* Profile Page */

#profile-picture img
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.profile-picture-container {
    text-align: center;
    margin-top: 20px;
}

#profile-picture img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.profile-item-username {
    background-color: var(--very_dark_green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    border-radius: 30px;
    padding-left: 2em;
    padding-right: 2em;
}

.profile-info {
    background-color: var(--very_dark_green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding-left: 10em;
    padding-right: 10em;
    border-radius: 40px;
}

.profile-item {
    background-color: var(--green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 7em;
    padding-right: 7em; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 20px;
}

.profile-item:last-child {
    border-bottom: none;
}

.profile-item p {
    margin: 0;
}

.profile-item strong {
    margin-right: 10px;
}

.profile-actions {
    text-align: center;
}

.profile-actions button {
    background-color: var(--very_dark_green);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
    margin-top: 50px;
}

.profile-actions button:hover {
    color:#000;
    background-color: var(--beige);
}


/* Edit Profile Page */
.row {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.photo-edit > img {
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    border: 3px solid var(--beige); 
}

.photo-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-edit {
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 30px; 
}

#save-btn, #seller-btn, #buyer-btn {
    background-color: var(--green); 
    transition: background-color 0.3s ease;

}

#choose-btn {
    background-color: var(--very_dark_green); 
    transition: background-color 0.3s ease;
}

#save-btn:hover {
    background-color: var(--very_dark_green); 
}

#choose-btn:hover {
    background-color: var(--beige); 
    color:#000;
}

.card-1 {
    width: 30%;
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-top: 2em;
    background-color: var(--dark_green);
    border-radius: 30px;
    margin-bottom: 2em;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;

}


.profile-basic-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.username-edit {
    margin-bottom: 10px;
}

.profile-basic-info {
    margin-bottom: 50px;
}

.username-edit, .name-edit, .email-edit, .password-edit, .confirm-password-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-2 {
    margin: 2em;
    padding-bottom: 3em;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark_green);

}

.profile-settings {
    height: 90%
}

.save-changes {
    height: 10%;
}
.card-2:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card-1:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.profile-settings { 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.email-edit, .password-edit{
    margin-bottom: 20px;
}

.form-control {
    width:70%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--green);
    border-color: none;
}

.form-control::placeholder {
    color: var(--bright_green);
}

.labels {
    color:var(--beige);
    margin-bottom: 5px;
}

.label {
    color: var(--beige);    
    margin-bottom: 5px;
}


/* shopping cart */

.cartTab{
    width: 30%;
    background-color: var(--green);
    color:var(--beige);
    position: fixed;
    z-index: 9999;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 90% 1fr;
}

.cartTab-hidden {
    display: none;
}


.cartTab .cartTabContent {
    height: 100%;
    width: 100%;
}

.cartTab h1 {
    background-color: var(--very_dark_green);
    padding: 20px;
    margin: 0;
    font-weight: 300;   
    height: 60.5px;  
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
    border: none;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background-color: var(--very_dark_green);
    height: 100%;
    width: 100%;
    color: var(--beige);
    font-size: small;
    transition: background-color 0.4s ease;
    font-weight: 700;
}

.cartTab .btn .close {
    background-color: var(--beige);
    color: var(--very_dark_green);    
}


.cartTab .btn button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px #000;
}

.cartTab .cartItems {
    overflow: auto;
    padding: 1em;
}

.cartTab .cartItems .cartItem img {
    width: 100%;
    border-radius: 10%;
}

.cartTab .cartItems .cartItem {
    font-weight: 300;
    font-size: small;
    display: grid;
    width: 100%;
    grid-template-columns: 25% 35% 10% 1fr;
    text-align: center;
    align-items: center;
    gap: 10px;    
}

.cartItem .cartItemQuantity button{
    display: inline-block;
    background-color: var(--very_dark_green);
    color: var(--beige);
    width: 20px;
    height: 20px;
    border-radius: 30%;
    padding-top: 3px;
    cursor: pointer;
}

/* cartTab open/close animation */

.cartTab.open {
    transform: translateX(0);
}

/* checkout page */
.checkout-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
    padding-top: 10em;
    padding-bottom: 10em;
}

/* Checkout Information */
.checkout-information {
    background-color: var(--bright_green); /* Green background */
    color: white;
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
}

.checkout-information h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.checkout-information p {
    font-weight: 300;
    margin-bottom: 20px;
}

.checkout-item {
    display: grid;
    grid-template-columns: 10% 20% 5% 1fr;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    font-weight: 100;
}

.checkout-item-img {
    width: 40px; 
}

.checkout-item-img img {
    width: 100%; 
    filter: invert(100%); 
}


.checkout-item-quantity span {
    padding: 5px 10px;
    border: none; /* No border */
    background-color: rgba(255, 255, 255, 0.2); 
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.checkout-total {
    font-size: 20px;
}

.checkout-actions button {
    background-color: var(--green); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
}

.checkout-actions button:hover {
    background-color: var(--very_dark_green); 
}


/* Shipping Address */

.shipping {
    text-align: center;
    background-color: var(--bright_green); 
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.shipping h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}

.shipping input[type="text"] {
    background-color: var(--green);
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--beige); 
    border-radius: 5px;
    box-sizing: border-box;
}

.shipping input[type="text"]::placeholder {
    color: var(--beige);
    
}

.shipping input[type="text"]:focus {
    outline: none;
    border-color: var(--very_dark_green); 
}

/* Payment */
.modal {
    display: none;/* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}

.modal input[type="text"] {
    background-color: var(--green);
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--beige); 
    border-radius: 5px;
    box-sizing: border-box;
}

.modal input[type="text"]::placeholder {
    color: var(--beige);
    
}

.modal-content {
    background-color: var(--green);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px; 
}

.close-checkout-btn {
    color: var(--beige);
    margin-top: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#seller-info > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* New Post Page */

#new-post-body #login-div form *{
    margin: 10px;
    width: auto;
    height: auto;
}
#new-post-body #login-div form label input{
    padding-left: 1em;
    padding-right: 1em;
}
#new-post-body #login-div form input{
    padding-left: 1em;
    padding-right: 1em;
}
.page {
    padding: 2em;
}
.admin-page-boxes {
    display: grid; /* Use grid to arrange items */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
    padding: 2em;
    margin: 2em;
}
  
  /* Admin box styling */
.admin-box {
    background-color: var(--bright_green);
    border: 1px solid var(--very_dark_green);
    border-radius: 5px;
    padding: 20px;
}
  
.admin-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--dark_green);
}
  
  /* Form styling */
.admin-box form {
    margin-bottom: 15px;
    
}
#message-bar input
{
    margin-top: 0;
}

#chat-box {
    height: 36em;
}
#chats {
    height: 695px;
}
#message-bar button img {
    height: 20px;
    width: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#chats::-webkit-scrollbar {
    width: 10px;
    
}

#chats::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 50px;
}

#chats::-webkit-scrollbar-thumb {
    background: transparent; 
}

#chat-box::-webkit-scrollbar {
    width: 10px;
    
}

#chat-box::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 50px;
}

#chat-box::-webkit-scrollbar-thumb {
    background: transparent; 
}

#chat-box article {
    display: inline-block;
    margin: 0.5em;
}

.admin-box input[type="text"] {
    width: calc(100% - 100px); /* Set the width of the input field */
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 2em;
}

.admin-box input::placeholder{
    color: var(--beige);
}
.admin-box button {
    padding: 8px 15px;
    background-color: var(--dark_green);
    color: white;
    border: none;
    cursor: pointer;
}
  
.admin-box button:hover {
    color: var(--dark_green);
    background-color: var(--beige);
}

.search-results-admin {
    width: 80%; /* Adjust width as needed */
    padding: 2em;
    background-color: var(--bright_green);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 2em auto; /* Center the search results */
}
.search-results-admin h2{
    color: var(--dark_green);
}

.search-results-admin {
    grid-gap: 20px; /* Adjust gap between grid items as needed */
    padding: 20px;
    background-color: var(--bright_green);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-delete,
.product-delete,
.category-delete {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    background-color: var(--dark_green);
    border-radius: 5px;
    margin-bottom: 2em;
}

.delete-icon img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}


.user-info,
.product-info {
    color: var(--beige);
}

.scroll {
    overflow: scroll;
}

.bmargin {
    margin-bottom: 1em;
}

#chaticon, #wishicon
{
    height: 50px;
}